__pycache__
.vscode
wandb/*
test/*
logs_consistency/*.csv
logs_consistency/images/*.pdf
logs_consistency/logs/*.csv
logs_consistency/symbreg_objects/*.bkup
logs_consistency/symbreg_objects/*.pkl
logs_consistency/symbreg_objects/*.csv