__pycache__
.vscode
wandb/*
test/*
logs_consistency/*
toy_files/*
log.txt
resultados.csv
blacklist/*
river_copy/*
diagrama/*
datasets/*
results
*.pdf
*.jpeg
*.txt
*.png
*.drawio
*.csv
*.jpg
imagens_quali
.venv
symbreg_objects
resultados.pdf